html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

nav{
    background-color: white;
    color: black;
    padding-right: 80px;
    padding-left: 80px;
}

a{
    color: black !important;
}

.commonAligning{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 8vw;
    margin-right: 9vw;
    padding-top: 100px;
}

/* .about */

hr{
    width: 423px;
    height: 2px;
    background-color: black;
    /* margin-top: 55px; */
    margin-bottom: -5px;
    margin-left: 0px;
}

#horizonEffect{
    overflow: hidden;
    width: 25px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    font-size: 40px;
}

.sidenav-overlay{
    opacity: 0 !important;
}

.nameDiv{
    width: 500px;
    margin-left: 4vw;
    z-index: 5;
}

.overlay-intro{
    height: 600px;
    width: 600px;
    right: 0;
    top: 0;
    position: absolute;
}

.codingIcon{
    height: 280px;
    width: 280px;
    right: 120px;
    top: 130px;
    z-index: 1;
    position: absolute;
}

@media screen and (max-width:993px){
    .commonAligning{
        flex-direction: column !important;
        justify-content: center;
    }
    #horizonEffect{
        font-size: 35px;
    }
}

@media screen and (max-width:375px) {
    #horizonEffect{
        font-size: 30px;
    }

    .nameDiv{
        margin: auto;
    }

    .codingIcon{
        position: relative;
        right: 0;
    }

    .overlay-intro{
        width: 400px;
        height: 400px;
        left: 0;
    }
}

@media screen and (max-width:900px) {
    .codingIcon{
        position:relative;
    }

    .overlay-intro{
        width: 500px;
        height: 500px;
    }
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(219, 43, 219);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgb(11, 133, 11);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(6, 48, 6);
}