body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: white;
    color: black;
    padding-right: 80px;
    padding-left: 80px;
}

a{
    color: black !important;
}

#intro{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

hr{
    width: 400px;
    height: 2px;
    background-color: black;
    /* margin-top: 55px; */
    margin-bottom: -5px;
}

#horizonEffect{
    overflow: hidden;
    width: 25px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}

@media screen and (max-width:993px){
    #intro{
        flex-direction: column !important;
    }
}